<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.django.springboot2.dao.mapper.UserMapper">
    <select id="findUsers" resultType="user">
        SELECT  id,user_name as userName,sex,note,pwd,available FROM t_user WHERE user_name = #{useName} and note = #{note}
    </select>
    
    <select id="selectByUserAndPwd" resultType="user">
        SELECT  id,user_name as userName,sex,note,pwd,available FROM t_user WHERE user_name = #{userName} and note = #{pwd}
    </select>

    <select id="selectUserByUserName" resultType="user">
        SELECT  id,user_name as userName,sex,note,pwd,available FROM t_user WHERE user_name = #{userName}
    </select>

    <select id="selectRoleByUserName" resultType="role">
        SELECT r.id,r.role_name,r.note FROM t_user u
                LEFT JOIN t_user_role ur ON u.id = ur.user_id
                LEFT JOIN t_role r ON ur.role_id = r.id
                WHERE u.user_name =#{userName}
    </select>

</mapper>